*{
  margin: 0;
  padding: 0;
}

body{
  background: #fff url(../img/bg.png) repeat;
  font-family: Raleway;
  color: #eee;
}

h2{
  font-size: 18px;
  margin-top: 20px;
}

label{
  color: #000;
  margin-left: 10px;
}
#wordSearchContainer{
  width: 550px;
  margin-left: 325px;
}
.outerWrapper{
  margin-top: 30px;
  padding: 5px;
  background: #fff;
  height: 640px;
}
.innerWrapper{  
  padding: 10px;
}
input[type=text], input[type=submit]{
  padding: 10px;
  width: 450px;
  margin: 10px 10px;
  margin-bottom: 20px;
}
textarea{
  padding: 10px;
  height: 400px;
  width: 450px;
  margin: 10px 10px;
  margin-bottom: 20px;
}
select{
  padding: 10px;
  width: 75px;
  margin: 10px 10px;
}
.createWordSearch{
  width: 80px;
  height:40px;
  border-radius: 5px;
  background: url(../img/button.jpg) repeat-x;
  font-family: Raleway;
  font-size: 15px;
}
img{
  margin-left: 25px;
  cursor: not-allowed;
}
.heading{
  position: relative;
  text-align: center;
  color: #000;
}
.previewContainer{
  margin-top: 30px;
  width: 400px;
  height: 650px;
  background: #ffffff;
}
.answerContainer{
	width: 340px;
    height: 450px;
	background: #fff;
	margin-left: 25px;
}
.previewHeading{
  padding: 20px;
  margin-top: 25px;
  position: relative;
  text-align: center;
  color: #000;
}
.previewTabs{
	width: 350px;
	height: 40px;
}
.previewLink1{
  margin-left: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 10px;
  text-align: center;
  color: #000;
  cursor: pointer;
}
.previewLink2{
  margin-left: 10px;
  padding-left: 32px;
  padding-right: 25px;
  padding-bottom: 10px;
  text-align: center;
  color: #000;
  cursor: pointer;
}
.wordSearchTable{
  margin-top: 20px;
  color: #000;
}
.wordSearchQuestions{
  color: #000;
}
.downloadLinks{
  margin-top: 25px;
  width: 350px;
  height: 50px;
}
.downloadWorkSheet{
  margin-left: 35px;
  width: 150px;
  height:40px;
  border-radius: 5px;
  background: url(../img/button.jpg) repeat-x;
  font-family: Raleway;
  font-size: 14px;
}
.downloadAnswerKey{
  margin-left: 10px;
  width: 150px;
  height:40px;
  border-radius: 5px;
  background: url(../img/button.jpg) repeat-x;
  font-family: Raleway;
  font-size: 14px;
}
